body {
    font-family: Arial, sans-serif;
    background-color: #050405;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 300px;
    background-color: #709acf;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(33, 33, 33, 0.2);
    padding: 10px;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    background-color: #d5d8d7;
    color: #141313;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s, transform 0.1s;
}

button:hover {
    background-color: rgb(98, 98, 115);
    color: #fff;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
    /* background-color: rgb(202, 202, 229); */
}

#display {
    grid-column: span 4;
    padding: 10px;
    text-align: right;
    background-color: #ccd1e0;
    color: #2a2929;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}
